{% extends 'base.html' %}

{% block title %}Available Tickets{% endblock %}

{% block content %}
    <h1>Available Tickets</h1>
    <ul class="list-group">
        {% for ticket in tickets %}
            <li class="list-group-item">
                <strong>Event:</strong> {{ ticket.event_name }} | 
                <strong>Date:</strong> {{ ticket.event_date }} | 
                <strong>Price:</strong> ${{ ticket.ticket_price }} | 
                <strong>Type:</strong> {{ ticket.ticket_type }} 
                <div class="float-end">
                    {% if user == ticket.owner %}
                        <a href="{% url 'edit_ticket' ticket.pk %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'delete_ticket' ticket.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                    <form action="{% url 'create_checkout_session' %}" method="get" class="d-inline">
                        <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                        <button type="submit" class="btn btn-primary btn-sm">Buy Now</button>
                    </form>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">No tickets available.</li>
        {% endfor %}
    </ul>
{% endblock %}
